<html>
    <head>
        <style>
            .container{
                width: 100%;
                font-family:Arial, Helvetica, sans-serif;
                }
                span{
                    margin: 10px 0;
                    display: block;
                }
        </style>
    </head>
    <body>
        <div class="container">
            <img src="https://i.imgur.com/oUAKMC5.png" alt="" />
            <span>Ola, {{name}}</span>
            <br />

            <span>Você solicitou a alteração de senha</span>
            <span>
                Para realizar a troca
                <a href={{link}}>clique aqui</a>
            </span>

            <strong>Obrigado!</strong>
            <h3>Equipe | <strong>Rentx</strong> </h3>
        </div>
    </body>
</html>